---
import Text from './Text.astro';
import Mono from './Mono.astro';

const { name, syntax, description } = Astro.props;
---

<div class="flex flex-row">
    <div class="flex w-32">
        <Mono>{name}</Mono>
    </div>

    <div class="flex w-80">
        <Mono>{syntax}</Mono>
    </div>

    <div class="flex flex-grow">
        <Text>{description}</Text>
    </div>
</div>
