---
import LeftDivider from '../components/dividers/LeftDivider.astro';
import Text from '../components/text/Text.astro';
import Italics from '../components/text/Italics.astro';
import Title from '../components/text/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex grow flex-col p-12">
		<Title>About</Title>

		<LeftDivider />

		<div class="flex pt-4 whitespace-pre-wrap">
			<Italics>/arietee/ - a short aria</Italics>
		</div>

		<div class="flex pb-4 whitespace-pre-wrap">
			<Italics>/aria/ - a striking solo performance</Italics>
		</div>

		<div class="flex">
			<Text>
				Arietta is a web version of the AvR Idiomatic Assembler (ARIA) that implements DFU over WebUSB to provide a complete assembly-to-device toolchain on the web.
				The project was created by Silas Harvey under the supervision of Alex Rogers
			</Text>
		</div>
	</div>
</Layout>
