---
import LeftDivider from '../components/dividers/LeftDivider.astro';
import Text from '../components/text/Text.astro';
import Title from '../components/text/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex grow flex-col p-12">
		<Title>About</Title>

		<LeftDivider />

		<div class="flex pt-4">
			<Text>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Luctus magnis luctus laoreet augue diam pretium. Sollicitudin class quam lorem potenti maecenas donec. Nullam condimentum efficitur orci ligula natoque imperdiet maximus? Praesent aliquam nec quisque vulputate pellentesque lectus non. Duis ut laoreet a sodales fringilla libero tristique. Molestie etiam nunc nisl litora auctor. Mus sem litora justo ut nisl. Sagittis felis porta justo tempus odio netus.
			</Text>
		</div>

		<div class="flex pt-4">
			<Text>
				Aliquam dictum lobortis aptent cubilia augue felis finibus id. Enim ligula suscipit integer imperdiet mi habitant tempor diam. Elementum ad dictum fermentum ultrices in fermentum volutpat nunc! Dignissim scelerisque amet mattis pellentesque interdum congue penatibus volutpat tempus. Augue himenaeos nec libero fringilla mollis penatibus. Quisque volutpat ultricies magnis parturient magnis facilisi varius euismod ante. Egestas luctus augue interdum mauris magna dui, interdum condimentum. Enim himenaeos montes risus egestas vitae. Tellus tempor leo aenean praesent facilisis. Auctor ligula maximus et fermentum egestas suscipit.
			</Text>
		</div>

		<div class="flex pt-4">
			<Text>
				Justo nec enim montes tempus dis id velit viverra. Lectus nam praesent accumsan blandit inceptos senectus vivamus convallis. Montes tortor mattis; sodales cursus et arcu nisi. Vitae erat ipsum primis tristique integer maecenas varius? Maecenas sit rutrum porta hendrerit adipiscing fusce vitae penatibus. Etiam sem pretium suscipit sodales maecenas. Mollis lobortis turpis aliquet a quisque hendrerit venenatis adipiscing. Morbi aliquet nec mattis fermentum laoreet semper. Purus nibh ipsum habitasse mi posuere mattis metus magna. Viverra curabitur non fermentum nec aptent facilisis neque.
			</Text>
		</div>


		<div class="flex pt-4">
			<Text>
				Cras sit bibendum eget maecenas integer fringilla. Mollis magnis posuere euismod viverra sociosqu fames. Facilisi morbi dolor sit tellus donec ad. Fusce nam ridiculus curae sociosqu dictum ad sem primis. Hac torquent id sociosqu suscipit hac a etiam aliquam. Justo curae nibh fusce mollis mauris eget fusce rhoncus metus. Penatibus aptent facilisi nullam; condimentum ante aliquet. Eu bibendum porttitor facilisis nascetur; elit at massa. Duis justo sem justo pulvinar quam dignissim.
			</Text>
		</div>

		<div class="flex pt-4">
			<Text>
				Natoque bibendum finibus mollis suspendisse lorem. Diam tincidunt vel volutpat dis urna. Cubilia suspendisse quis vulputate adipiscing cubilia natoque. Luctus eget litora libero mi nulla lacinia purus. Tortor facilisis aenean at conubia augue tincidunt integer condimentum. Sem netus vulputate habitant maecenas potenti aliquam. Fringilla pretium volutpat purus massa condimentum.
			</Text>
		</div>
	</div>
</Layout>
