---
import LeftDivider from '../components/dividers/LeftDivider.astro';
import Text from '../components/text/Text.astro';
import Title from '../components/text/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Arietta Docs">
	<div class="flex grow flex-col p-12">
		<Title>Docs</Title>

		<LeftDivider />

		<div class="flex pt-4">
			<Text>
				Coming Soon!
			</Text>
		</div>
	</div>
</Layout>
