---
import LeftDivider from '../components/dividers/LeftDivider.astro';
import Heading from '../components/text/Heading.astro';
import Title from '../components/text/Title.astro';
import Layout from '../layouts/Layout.astro';
import DarkModeToggle from '../components/buttons/DarkModeToggle.svelte';
---

<Layout>
	<div class="flex grow flex-col p-12">
		<Title>Settings</Title>

		<LeftDivider />

		<div class="flex flex-row justify-between items-center w-40 pt-4">
			<Heading>Dark Theme</Heading>
			<DarkModeToggle client:only/>
		</div>
	</div>
</Layout>
