---
import LeftDivider from '../components/dividers/LeftDivider.astro';
import Caption from '../components/text/Caption.astro';
import Title from '../components/text/Title.astro';
import Layout from '../layouts/Layout.astro';
import DarkModeToggle from '../components/buttons/DarkModeToggle.svelte';
---

<script>
	const toggle = () => {
		console.log('hi!')
	}
</script>

<Layout>
	<div class="flex grow flex-col p-12">
		<Title>Settings</Title>

		<LeftDivider />

		<div class="flex flex-row justify-between w-40 ">
			<Caption>Dark Theme</Caption>
			<DarkModeToggle client:only/>
		</div>
	</div>
</Layout>
