---
import Log from './log/Log.svelte'
---

<div class="flex flex-col-reverse w-7/8 overflow-auto bg-transparent">
    <div class="w-full">
        <Log client:only/>
        <div class="w-full pl-4 pt-4 bg-transparent"></div>
    </div>
</div>