---
import '../styles/global.css';
import Menu from '../components/Menu.astro';
const { title } = Astro.props;
const faviconURL = import.meta.env.BASE_URL + "/favicon.svg";
---

<script>
	import { settings } from "../modules/state.ts";
	import { subscribeKeys } from 'nanostores'

	const root = document.getElementById("approot")

	subscribeKeys(settings, ['theme'], (value, oldValue, changed) => {
		if (root instanceof HTMLElement) root.dataset.theme = value['theme']
	})
</script>

<!doctype html>
<html lang="en" class="w-full h-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={faviconURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="approot" class="w-full h-full m-0" data-theme="">

		<div class="flex h-screen bg-zinc-50 dark:bg-zinc-900">
			<div class="flex flex-initial">
				<Menu />
			</div>

			<div class="flex grow">
				<slot />
			</div>
		</div>

	</body>
</html>
